//***********breakpoints*****************

$desktop : 1440px;

//laptop
$laptop-max: 1439px;
$laptop-min: 1280px;

//tablete landscape
$tablet-landscape-max: 1279px;
$tablet-landscape-min: 768px;

//tablete portrait
$tablet-portrait-max: 1279px;
$tablet-portrait-min: 768px;

//min-tablet-portrait
$min-tablet-portrait-max: 1024px;

//mobile
$mobile-max: 767px;
$mobile-min: 320px;