/*COMMON*/

//container
$container: 1720px;


html,
body {
	background-color: #FFFFFF;
	font-size: $base-font-size;
	font-family: 'Inter';
	min-width: 320px;
}


body {
	font-family: var(--font-primary);
	min-width: $mobile-min;
	min-height: 100vh;
	position: relative;
}

body.body-overlay {
	overflow: hidden;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 150;
		transition: var(--transition);
	}
}

// annimation main
main {
	margin-top: toRem(96px);
	transition: var(--transition);

	@include max($min-tablet-portrait-max) {
		margin-top: toRem(64px);
	}

	@include max($mobile-max) {
		margin-top: toRem(12px);
	}

	&.header--scrolled {
		margin-top: toRem(64px);
	}
}


.container {
	@include centerMargin();
	padding-left: toRem(40px);
	padding-right: toRem(40px);
	max-width: $container;


	@include max($mobile-max) {
		padding-left: toRem(20px);
		padding-right: toRem(20px);
	}

}

picture {
	display: block;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


p,
.paragraph {
	font-size: toRem(16px);
	line-height: toRem(24px);
	color: var(--white);

	&:not(:last-child) {
		margin-bottom: toRem(24px);
	}

	@include max($mobile-max) {
		font-size: toRem(14px);
		line-height: toRem(19.6px);
	}

	// @include max($tablet-portrait-min) {
	// 	font-size: toRem(16px);
	// 	line-height: toRem(22px);
	// }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 800;
	transition: all ease 0.5s;
}


h1,
.title_h1 {
	font-size: toRem(56px);
	margin-bottom: toRem(24px);
	line-height: toRem(61px);
	color: var(--white);

	@include max($min-tablet-portrait-max) {
		font-size: toRem(43px);
		line-height: toRem(47.3px);
	}

	@include max($mobile-max) {
		font-size: toRem(21px);
		line-height: toRem(33.6px);
		margin-bottom: toRem(12px);
	}
}

h2,
.title_h2 {
	font-size: toRem(43px);
	font-weight: 800;
	line-height: toRem(47.3px);
	color: var(--color-primary);
	margin-bottom: toRem(27px);

	@include max($min-tablet-portrait-max) {
		font-size: toRem(28px);
		line-height: toRem(42px);
		text-align: left;

	}

	@include max($mobile-max) {
		font-size: toRem(21px);
		line-height: toRem(33.6px);
		margin-bottom: toRem(12px);
	}
}

// h3,
h3,
.title_h3 {
	font-size: toRem(21px);
	line-height: toRem(33.6px);
	margin-bottom: toRem(8px);
	color: var(--color-primary);

}

h4,
.title_h4 {
	font-size: toRem(21px);
	line-height: toRem(33.6px);
	margin-bottom: toRem(8px);
	color: var(--footer-titre-color);

	@include max($min-tablet-portrait-max) {
		font-size: toRem(16px);
		font-weight: 400;
		line-height: toRem(24px);
	}

}

// h5,
// .h5 {
// 	font-size: toRem(20px);
// 	margin-bottom: toRem(18px);

// 	@include minMax($laptop-min, $laptop-max) {
// 		font-size: toRem(18px);

// 	}

// 	@include minMax($tablet-landscape-min, $tablet-landscape-max) {
// 		font-size: toRem(16px);
// 		margin-bottom: toRem(10px);
// 	}

// 	@include minMax($tablet-portrait-min, $tablet-portrait-max) {
// 		font-size: toRem(16px);
// 		margin-bottom: toRem(10px);
// 	}

// 	@include max($mobile-max) {
// 		font-size: toRem(16px);
// 		margin-bottom: toRem(10px);
// 	}
// }

// h6,
// .h6 {
// 	font-size: toRem(18px);
// 	margin-bottom: toRem(16px);

// 	@include minMax($laptop-min, $laptop-max) {
// 		font-size: toRem(16px);
// 		margin-bottom: toRem(10px);
// 	}

// 	@include minMax($tablet-landscape-min, $tablet-landscape-max) {
// 		font-size: toRem(16px);
// 		margin-bottom: toRem(10px);
// 	}

// 	@include minMax($tablet-portrait-min, $tablet-portrait-max) {
// 		font-size: toRem(14px);
// 		margin-bottom: toRem(10px);
// 	}

// 	@include max($mobile-max) {
// 		font-size: toRem(14px);
// 		margin-bottom: toRem(10px);
// 	}
// }

// p:not(:last-child) {
// 	margin-bottom: toRem(24px);
// }

// main ul {
// 	margin-bottom: toRem(24px);

// 	li {
// 		position: relative;
// 		margin-bottom: toRem(10px);
// 		padding-left: toRem(25px);
// 		line-height: toRem(24px);
// 		font-size: toRem(16px);

// 		&::before {
// 			content: " ";
// 			position: absolute;
// 			left: 0;
// 			width: toRem(5px);
// 			height: toRem(5px);
// 			border-radius: 50%;
// 			background: var(--color-primary);
// 			top: toRem(9px);
// 		}

// 		>ul li {
// 			&::before {
// 				content: "";
// 				left: 0;
// 				width: toRem(5px);
// 				height: toRem(5px);
// 				display: inline;
// 				position: absolute;
// 				left: 0;
// 				top: toRem(5px);
// 			}
// 		}
// 	}
// }

// main ol {
// 	list-style: none;
// 	counter-reset: my-counter;
// 	margin-bottom: toRem(24px);

// 	li {
// 		counter-increment: my-counter;
// 		position: relative;
// 		margin-bottom: toRem(5px);
// 		padding-left: toRem(25px);

// 		&::before {
// 			content: counterem(my-counter) ". ";
// 			font-weight: bold;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 		}
// 	}
// }


.d-flex {
	display: flex;

	&.align-items-center {
		align-items: center;
	}
}

.pr {
	position: relative;
	z-index: 1;
}

.p-abs {
	position: absolute;
	z-index: 1;
}

.section_background_bottom {
	position: absolute;
	pointer-events: none;
	bottom: 0;
	z-index: 0;
}